---
apiVersion: v1
kind: Namespace
metadata:
  name: istio-system

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-base
  namespace: istio-system
spec:
  releaseName: istio-base
  chart:
    spec:
      chart: base
      version: 1.28.1
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
  driftDetection:
    mode: disabled
  interval: 15m
  timeout: 10m
