---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: external-dns
spec:
  releaseName: external-dns
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  driftDetection:
    mode: enabled
  install:
    crds: Skip
  upgrade:
    crds: Skip
  interval: 15m
  timeout: 10m
  values:
    resources:
      limits:
        memory: 64Mi
      requests:
        cpu: 10m
        memory: 64Mi

    logLevel: info
    logFormat: json

    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "7979"

    interval: 5m

    sources:
      - crd

    policy: sync

    registry: txt
    txtOwnerId: extdns
    txtPrefix: "extdns-%{record_type}."

    provider:
      name: cloudflare

    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare
            key: CLOUDFLARE_API_TOKEN
