---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: clickhouse-operator
  namespace: clickhouse-operator
spec:
  releaseName: altinity-clickhouse-operator
  chart:
    spec:
      chart: altinity-clickhouse-operator
      version: 0.25.5
      sourceRef:
        kind: HelmRepository
        name: clickhouse
        namespace: flux-system
  driftDetection:
    mode: enabled
  install:
    crds: Skip
  upgrade:
    crds: Skip
  interval: 15m
  timeout: 10m
  values:
    crdHook:
      enabled: false

    operator:
      env:
        - name: WATCH_NAMESPACES
          value: ".*"
      resources:
        limits:
          memory: 64Mi
        requests:
          cpu: 10m
          memory: 64Mi

    metrics:
      enabled: true
      resources:
        limits:
          memory: 64Mi
        requests:
          cpu: 10m
          memory: 64Mi

    podAnnotations:
      prometheus.io/port: "8888"
      prometheus.io/scrape: "true"
      clickhouse-operator-metrics/port: "9999"
      clickhouse-operator-metrics/scrape: "true"
