---
apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: clickhouse
  namespace: otel
spec:
  configuration:
    zookeeper:
      nodes:
        - host: keeper-clickhouse-keeper
    clusters:
      - name: otel
        layout:
          shardsCount: 3
          replicasCount: 1
    users:
      # PASSWORD=$(base64 < /dev/urandom | head -c32); echo "$PASSWORD"; echo -n "$PASSWORD" | sha256sum | tr -d '-'
      #
      # Password: OMSZFEjYjqRTTQd0F5hmUMCtT07gj54W
      # Hash: 0a5f06b2061f922eb1a113c2b32616efaeca4e7657376f943ba9204dd9597554
      otel/password_sha256_hex: 0a5f06b2061f922eb1a113c2b32616efaeca4e7657376f943ba9204dd9597554
      otel/networks/ip: "::/0"
      otel/profile: default
    settings:
      logger/formatting/type: "json"
      logger/formatting/names/date_time: "date_time"
      logger/formatting/names/thread_name: "thread_name"
      logger/formatting/names/thread_id: "thread_id"
      logger/formatting/names/level: "level"
      logger/formatting/names/query_id: "query_id"
      logger/formatting/names/logger_name: "logger_name"
      logger/formatting/names/message: "message"
      logger/formatting/names/source_file: "source_file"
      logger/formatting/names/source_line: "source_line"

  defaults:
    templates:
      serviceTemplate: default
      dataVolumeClaimTemplate: default
      podTemplate: default

  templates:
    serviceTemplates:
      - name: default
        generateName: "clickhouse-{chi}"
        spec:
          ports:
            - name: http
              port: 8123
            - name: tcp
              port: 9000
            - name: interserver
              port: 9009
          type: ClusterIP
          clusterIP: None

    volumeClaimTemplates:
      - name: default
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 5Gi

    podTemplates:
      - name: default
        metadata:
          labels:
            app: clickhouse
        spec:
          containers:
            - name: clickhouse
              imagePullPolicy: IfNotPresent
              image: clickhouse/clickhouse-server:25.9.4
          securityContext:
            fsGroup: 101
