---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  releaseName: cert-manager
  chart:
    spec:
      chart: cert-manager
      version: v1.19.2
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: flux-system
  driftDetection:
    mode: enabled
    ignore:
      - paths:
          - /webhooks/0/clientConfig/caBundle
          - /webhooks/0/namespaceSelector
        target:
          kind: ValidatingWebhookConfiguration
          name: cert-manager-webhook
  install:
    crds: Skip
  upgrade:
    crds: Skip
  interval: 15m
  timeout: 10m
  values:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault

    # Optional additional arguments
    extraArgs:
      # Use this flag to set a namespace that cert-manager will use to store
      # supporting resources required for each ClusterIssuer (default is
      # kube-system).
      - --cluster-resource-namespace=cert-manager
      # When this flag is enabled, secrets will be automatically removed when
      # the certificate resource is deleted.
      - --enable-certificate-owner-ref=true

    resources:
      requests:
        cpu: 25m
        memory: 512Mi
      limits:
        memory: 1024Mi

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/instance: cert-manager
            app.kubernetes.io/name: cert-manager

    cainjector:
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        privileged: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault

      resources:
        requests:
          cpu: 10m
          memory: 64Mi
        limits:
          memory: 64Mi

      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: cert-manager
              app.kubernetes.io/name: cainjector

    webhook:
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        privileged: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault

      resources:
        requests:
          cpu: 10m
          memory: 64Mi
        limits:
          memory: 64Mi

      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: cert-manager
              app.kubernetes.io/name: webhook

    startupapicheck:
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        privileged: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault

      resources:
        requests:
          cpu: 10m
          memory: 64Mi
        limits:
          memory: 64Mi
