---
apiVersion: v1
kind: Secret
metadata:
  name: clickhouse
  namespace: observability
data:
  OBSERVABILITY_PASSWORD: ENC[AES256_GCM,data:Ac0rreCQgi9TG9vHmhjlXx1RVe86LXyhDs2C0CibeRodVr51pzSZhl3M5zA=,iv:uiymcFvdMOiXumDSlvzne8DM1K1K2yvTcIE9bS8kXPs=,tag:j8kAd3ZEvBSiFR2Jd57aKw==,type:str]
sops:
  lastmodified: "2025-12-17T09:52:41Z"
  mac: ENC[AES256_GCM,data:io03tdvwAxN1rWNsasdhTfB9F7AJxnMj4qsIr/+VqaI3IeV9NNTHOgtoaxONxBTwAwTMEF54eRhlHj+nUxA77E/BYqlH6vgbTM92j66HN68If9RqA8UfBnqpULOe9vutZYjRR0XAgxH8wTU4jP0lVx7f7V8+ZPw/BN1vHCAYYt8=,iv:VIQO6ZXly5Lw0CQ2MW1fxvhbpQIXFpaG7+Umv3CbaPc=,tag:vCfGExv+2qZ6f2Ee6YxsJQ==,type:str]
  pgp:
    - created_at: "2025-12-17T09:52:41Z"
      enc: |-
        -----BEGIN PGP MESSAGE-----

        hQIMAzGhsZ0P8d8aAQ//bw6z0zI/5dKUR1An/Uflwo8o4IURZ6wEZfc3fBoiE7BM
        8xsam9KY3DQsOCApGHzpltpbZRWbqJ0Or83qZ5QySNG0uZek4VKXIOs89MKj+GGs
        kVX/b8GYDEMJXOaX8RUvVfdRyfwpK0chLyowe8z0ZKtDuYBFGy7xtNgfaBJp+Sms
        S9iBNZdOjwEZjsKHBB0PzsybU3IuHGEgGpLaZ9Qxd2WrqsSy0Mu6VNpsHB6IQTom
        EpsT0FF1ltPPqrAHNYfGOo15i3toDFt/Yv7VMvB8EKEsCn3+mXMlnHFe1bosQIk7
        pHJu6fdxd4Xl7x/3OjU6Nr+FADjFTZU1aEeArGRxbvoIn4Jyh9F9p6sRXSsZUh7Z
        IhHUQ17z6VSWqTzlZn6sk/kVqXPbKN7cJMQc1WmXQCN0gCNc2kfj4LGqEm4ZNJUP
        uue5ziFnkAEJpe2NERU7BfPTU9FSmTg5+GtIwI5val4cFePT8Z4nLQ6rizvdF6yV
        hVl6cPrDyIio6w0HdITDEPpQNNgldBVxFJqF+GYN9ogaWa43HBS+LvpogFGRRSy0
        VSNqqtS/5SR6PCT5hrJr/UUKIPFZTfuu/Kyni4yq+wWJBjfWhCyzonAy2Wq28nX9
        BRlJpQbc03YksFbU0jAcpfiQkuc5es1foRCV6mHI4of1LK+o/sy+SaGwnOzYF2HU
        aAEJAhCuphr63CUkoP4ZNUr4LwQsUX2LUUV1JJssSrn5pfOugnb6m4YfZHuicoJR
        mieGG4L0uBrJmJqTJJu6gKQNiLfl/SsrY3NDa2nxqRIjCJM2OPCDyK0/oxe4xlLd
        ylbNjz99CqqE
        =fJTq
        -----END PGP MESSAGE-----
      fp: 8ECEEAB78C379D845704FF358C76E8F3042C582E
  encrypted_regex: ^(data|stringData)$
  version: 3.11.0

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-bootstrap
  namespace: observability
data:
  01_create_database.sh: |
    #!/bin/bash

    clickhouse-client -h 127.0.0.1 --ignore-error --query 'CREATE DATABASE IF NOT EXISTS `observability` ENGINE=Atomic;'

  02_create_table.sh: |
    #!/bin/bash

    clickhouse-client -h 127.0.0.1 --ignore-error <<-EOSQL
      CREATE TABLE IF NOT EXISTS "observability"."otel_logs"
      (
        Timestamp DateTime64(9) CODEC(Delta(8), ZSTD(1)),
        TimestampTime DateTime DEFAULT toDateTime(Timestamp),
        TraceId String CODEC(ZSTD(1)),
        SpanId String CODEC(ZSTD(1)),
        TraceFlags UInt8,
        SeverityText LowCardinality(String) CODEC(ZSTD(1)),
        SeverityNumber UInt8,
        ServiceName LowCardinality(String) CODEC(ZSTD(1)),
        Body String CODEC(ZSTD(1)),
        ResourceSchemaUrl LowCardinality(String) CODEC(ZSTD(1)),
        ResourceAttributes Map(LowCardinality(String), String) CODEC(ZSTD(1)),
        ScopeSchemaUrl LowCardinality(String) CODEC(ZSTD(1)),
        ScopeName String CODEC(ZSTD(1)),
        ScopeVersion LowCardinality(String) CODEC(ZSTD(1)),
        ScopeAttributes Map(LowCardinality(String), String) CODEC(ZSTD(1)),
        LogAttributes Map(LowCardinality(String), String) CODEC(ZSTD(1)),
        EventName String CODEC(ZSTD(1)),
        INDEX idx_trace_id TraceId TYPE bloom_filter(0.001) GRANULARITY 1,
        INDEX idx_res_attr_key mapKeys(ResourceAttributes) TYPE bloom_filter(0.01) GRANULARITY 1,
        INDEX idx_res_attr_value mapValues(ResourceAttributes) TYPE bloom_filter(0.01) GRANULARITY 1,
        INDEX idx_scope_attr_key mapKeys(ScopeAttributes) TYPE bloom_filter(0.01) GRANULARITY 1,
        INDEX idx_scope_attr_value mapValues(ScopeAttributes) TYPE bloom_filter(0.01) GRANULARITY 1,
        INDEX idx_log_attr_key mapKeys(LogAttributes) TYPE bloom_filter(0.01) GRANULARITY 1,
        INDEX idx_log_attr_value mapValues(LogAttributes) TYPE bloom_filter(0.01) GRANULARITY 1,
        INDEX idx_body Body TYPE tokenbf_v1(32768, 3, 0) GRANULARITY 8
      )
      ENGINE = MergeTree
      PARTITION BY toDate(TimestampTime)
      PRIMARY KEY (ServiceName, TimestampTime)
      ORDER BY (ServiceName, TimestampTime, Timestamp)
      TTL TimestampTime + INTERVAL 5 DAY
      SETTINGS index_granularity = 8192, ttl_only_drop_parts = 1;

      CREATE TABLE IF NOT EXISTS "observability"."otel_traces"
      (
        Timestamp DateTime64(9) CODEC(Delta, ZSTD(1)),
        TraceId String CODEC(ZSTD(1)),
        SpanId String CODEC(ZSTD(1)),
        ParentSpanId String CODEC(ZSTD(1)),
        TraceState String CODEC(ZSTD(1)),
        SpanName LowCardinality(String) CODEC(ZSTD(1)),
        SpanKind LowCardinality(String) CODEC(ZSTD(1)),
        ServiceName LowCardinality(String) CODEC(ZSTD(1)),
        ResourceAttributes Map(LowCardinality(String), String) CODEC(ZSTD(1)),
        ScopeName String CODEC(ZSTD(1)),
        ScopeVersion String CODEC(ZSTD(1)),
        SpanAttributes Map(LowCardinality(String), String) CODEC(ZSTD(1)),
        Duration UInt64 CODEC(ZSTD(1)),
        StatusCode LowCardinality(String) CODEC(ZSTD(1)),
        StatusMessage String CODEC(ZSTD(1)),
        Events Nested (
          Timestamp DateTime64(9),
          Name LowCardinality(String),
          Attributes Map(LowCardinality(String), String)
        ) CODEC(ZSTD(1)),
        Links Nested (
          TraceId String,
          SpanId String,
          TraceState String,
          Attributes Map(LowCardinality(String), String)
        ) CODEC(ZSTD(1)),
        INDEX idx_trace_id TraceId TYPE bloom_filter(0.001) GRANULARITY 1,
        INDEX idx_res_attr_key mapKeys(ResourceAttributes) TYPE bloom_filter(0.01) GRANULARITY 1,
        INDEX idx_res_attr_value mapValues(ResourceAttributes) TYPE bloom_filter(0.01) GRANULARITY 1,
        INDEX idx_span_attr_key mapKeys(SpanAttributes) TYPE bloom_filter(0.01) GRANULARITY 1,
        INDEX idx_span_attr_value mapValues(SpanAttributes) TYPE bloom_filter(0.01) GRANULARITY 1,
        INDEX idx_duration Duration TYPE minmax GRANULARITY 1
      )
      ENGINE = MergeTree
      PARTITION BY toDate(Timestamp)
      ORDER BY (ServiceName, SpanName, toDateTime(Timestamp))
      TTL toDateTime(Timestamp) + INTERVAL 5 DAY
      SETTINGS index_granularity=8192, ttl_only_drop_parts = 1;

      CREATE TABLE IF NOT EXISTS "observability"."otel_traces_trace_id_ts"
      (
        TraceId String CODEC(ZSTD(1)),
        Start DateTime CODEC(Delta, ZSTD(1)),
        End DateTime CODEC(Delta, ZSTD(1)),
        INDEX idx_trace_id TraceId TYPE bloom_filter(0.01) GRANULARITY 1
      )
      ENGINE = MergeTree
      PARTITION BY toDate(Start)
      ORDER BY (TraceId, Start)
      TTL Start + INTERVAL 5 DAY
      SETTINGS index_granularity=8192, ttl_only_drop_parts = 1;

      CREATE MATERIALIZED VIEW IF NOT EXISTS "observability"."otel_traces_trace_id_ts_mv"
      TO "observability"."otel_traces_trace_id_ts"
      AS SELECT
        TraceId,
        min(Timestamp) as Start,
        max(Timestamp) as End
      FROM "observability"."otel_traces"
      WHERE TraceId != ''
      GROUP BY TraceId;
    EOSQL

---
apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: clickhouse
  namespace: observability
spec:
  configuration:
    clusters:
      - name: observability
    users:
      # PASSWORD=$(base64 < /dev/urandom | head -c32); echo "$PASSWORD"; echo -n "$PASSWORD" | sha256sum | tr -d '-'
      observability/password_sha256_hex: 0762bea05cbec652279fc08c89c08af5fb7a14e291ad4f1be3e7beddd0998e37
      observability/networks/ip: "::/0"
      observability/profile: default
    settings:
      logger/level: "error"
      logger/formatting/type: "json"
      logger/formatting/names/date_time: "date_time"
      logger/formatting/names/thread_name: "thread_name"
      logger/formatting/names/thread_id: "thread_id"
      logger/formatting/names/level: "level"
      logger/formatting/names/query_id: "query_id"
      logger/formatting/names/logger_name: "logger_name"
      logger/formatting/names/message: "message"
      logger/formatting/names/source_file: "source_file"
      logger/formatting/names/source_line: "source_line"
    files:
      z_log_disable.xml: |
        <?xml version="1.0"?>
        <clickhouse>
          <asynchronous_metric_log remove="1"/>
          <metric_log remove="1"/>
          <trace_log remove="1"/>
        </clickhouse>

  defaults:
    templates:
      serviceTemplate: default
      dataVolumeClaimTemplate: default
      podTemplate: default

  templates:
    serviceTemplates:
      - name: default
        generateName: "clickhouse-{chi}"
        spec:
          ports:
            - name: http
              port: 8123
            - name: tcp
              port: 9000
            - name: interserver
              port: 9009
          type: ClusterIP
          clusterIP: None

    volumeClaimTemplates:
      - name: default
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 10Gi

    podTemplates:
      - name: default
        metadata:
          labels:
            app: clickhouse
        spec:
          containers:
            - name: clickhouse
              imagePullPolicy: IfNotPresent
              image: clickhouse/clickhouse-server:25.9.4
              env:
                - name: CLICKHOUSE_ALWAYS_RUN_INITDB_SCRIPTS
                  value: "true"
              volumeMounts:
                - name: bootstrap
                  mountPath: /docker-entrypoint-initdb.d
          securityContext:
            fsGroup: 101
          volumes:
            - name: bootstrap
              configMap:
                name: clickhouse-bootstrap
