---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
  namespace: observability
spec:
  releaseName: grafana-operator
  chart:
    spec:
      chart: grafana-operator
      version: 5.21.1
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  driftDetection:
    mode: enabled
  install:
    crds: Skip
  upgrade:
    crds: Skip
  interval: 15m
  timeout: 10m
  values:
    logging:
      encoder: json
      level: info

    podLabels:
      app: grafana-operator

    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "9090"

    securityContext:
      capabilities:
        drop:
          - ALL
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      seccompProfile:
        type: "RuntimeDefault"

    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 64Mi
