---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: clickhouse-observability
  namespace: observability
  labels:
    kustomize.toolkit.fluxcd.io/substitute: disabled
spec:
  allowCrossNamespaceImport: true
  instanceSelector: {}
  valuesFrom:
    - targetPath: secureJsonData.password
      valueFrom:
        secretKeyRef:
          key: OBSERVABILITY_PASSWORD
          name: clickhouse
  datasource:
    name: "ClickHouse: Observability"
    type: grafana-clickhouse-datasource
    uid: clickhouse-observability
    access: proxy
    isDefault: false
    orgId: 1
    editable: false
    jsonData:
      defaultDatabase: observability
      host: clickhouse-clickhouse.observability.svc.cluster.local
      logs:
        contextColumns:
          - ServiceName
          - ResourceAttributes['k8s.namespace.name']
          - ResourceAttributes['k8s.pod.name']
          - ResourceAttributes['k8s.container.name']
          - ResourceAttributes['k8s.node.name']
        defaultDatabase: observability
        defaultTable: otel_logs
        otelEnabled: true
        otelVersion: latest
        selectContextColumns: true
      port: 9000
      protocol: native
      traces:
        defaultDatabase: observability
        defaultTable: otel_traces
        otelEnabled: true
        otelVersion: latest
      username: observability
    secureJsonData:
      password: ${OBSERVABILITY_PASSWORD}
