---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: istio
  namespace: observability
  labels:
    kustomize.toolkit.fluxcd.io/substitute: disabled
spec:
  allowCrossNamespaceImport: true
  instanceSelector: {}
  datasource:
    name: Istio
    type: ricoberger-istio-datasource
    uid: istio
    access: proxy
    isDefault: false
    orgId: 1
    editable: false
    jsonData:
      prometheusUrl: http://prometheus.observability.svc.cluster.local:9090
      prometheusAuthMethod: none
      istioWarningThreshold: 0
      istioErrorThreshold: 5
      istioWorkloadDashboard: /d/istio-workload-dashboard/istio-workload-dashboard?orgId=1&var-datasource=prometheus&var-qrep=waypoint&var-qrep=source&var-qrep=destination
      istioServiceDashboard: /d/istio-service-dashboard/istio-service-dashboard?orgId=1&var-datasource=prometheus&var-qrep=waypoint&var-qrep=source&var-qrep=destination
