---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: base
  namespace: flux-system
spec:
  interval: 15m
  path: ./homelab/kubernetes/base
  prune: true
  sourceRef:
    kind: GitRepository
    name: playground
